#cloud-config
# vim: syntax=yaml
ssh_pwauth: True
disable_root: 0
hostname: ${hostname}
#manage_etc_hosts: False
ssh_authorized_keys:
  - ${generatedkey}
  - ${personalkey}

users:
  - name: ${yourname}
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups: sudo
    homedir: /home/${yourname}
    ssh_authorized_keys:
      - ${generatedkey}
      - ${personalkey}

chpasswd:
  list: |
     root:${password}
     ${yourname}:${password}
  expire: False
